body{
    overflow-x: hidden;
    background-color: black;
}
nav button{
    width: 10%;
    background: black;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
    margin-left: 30px;
    margin-top: 20px;
}
nav .sign{
    border: 1px solid white;
    border-radius: 30px;
    width: 200px;
    font-size: 20px;
    height: 35px;
    margin-top: 25px;
}

nav{
    display:flex;
}
nav img{
    width: 100px;
    height: 50px;
    padding-left: 20px;
    padding-right: 140px;
    margin-top: 15px;
}
nav .menus span{
    color: white;
    font-size: 20px;
    display: inline-block;
    padding-top: 30px;
    padding-right: 100px;
}
nav div .home{
    position: relative;
}
nav div .home::after{
    transform: translateX(-52px);
    border-radius: 100%;
    position: absolute;
    background: white;
    bottom: -5px;
    height: 5px;
    content: '';
    width: 5px;
    left: 50%;
}

/* ################################ */

.speed-search{
    display: flex;
    color: white;
    display: inline-block;
    border: 2px solid rgba(24, 37, 46, 0.87);
    border-radius: 40px;
    text-align: center;
    margin: 40px 500px;
    width: 510px;
    height: 60px;
    justify-content: space-between;
}

.speed-search img{
    width: 25px;
    height: 25px;
    margin-top: 16px;
    margin-left: -10px;
    margin-right: 5px;
}

.speed-search .speed{
    margin-right: 50px;
    margin-top: -20px;
    font-size: 25px;
    align-items: center;
}
.speed-search button{
    border-radius: 50%;
    background-color: white;
    width: 60px;
    height: 60px;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -48px;
    margin-left: 450px;
}
/* ###################### */

.first,.second{
    font-size: 70px;
    color: white;
    display: flex;
    display: inline;
    justify-content: center;
}
.second{
    margin-top: -30px;
    display: flex;
}
.first-program{
    width: 60px;
    height: 60px;
    margin-left: 250px;
    display: flex;
    margin-top: -10px;
}
.first{
    margin-left: 360px;
}
.first .notion-program{
    display: flex;
    background-color: rgba(24, 37, 46, 0.87);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-left: 1200px;
    margin-top: -100px;
    transform: rotate(20deg);
}
.agenda{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 360px;
    margin-top: -20px;
    transform: rotate(10deg);
    background-color: rgba(24, 37, 46, 0.87);
}
/* ################# */
.search-bar input[type=text]{
    color: white;
    border-radius: 40px;
    border: 1px solid rgba(24, 37, 46, 0.87);
    width: 350px;
    height: 40px;
    padding-left: 10px;
    margin-left: 580px;
    background-color:rgba(24, 37, 46, 0.87) ;
}
.search-bar button{
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-left: -70px;
    cursor: pointer;
}
.last-program{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(24, 37, 46, 0.87);
    margin-left: 1100px;
    margin-top: -80px;
    transform:rotate(-10deg)
}
/* ######################## */

.speech{
    color: gray;
    display: flex;
    justify-content: center;
    font-size: large;
    margin-top: 40px;
}
.speech span{
    color: white;
}
.end-speech{
    color: gray;
    display: flex;
    justify-content: center;
    font-size: large;
}
/* ####################### */

.sections .fi{
    background-color: rgba(24, 37, 46, 0.87);
    width: 300px;
    height: 200px;
    margin-left: 150px ;
    margin-top: 50px;
    border-radius: 10px;
}
.sections .fi .f , .sections .se .f,.sections .mid .f
,.sections .up .f,.sections .le .f,.sections .ri .f{
    color: gray;
    font-size: 20px;
    background-color: transparent;
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
}
.sections .fi .p, .sections .se .p, .sections .mid .p
,.sections .up .p,.sections .le .p,.sections .ri .p{
    color: white;
    font-size: 20px;
    background-color: transparent;
    display: flex;
    padding-top: 40px;
    padding-left: 20px;
    font-size: 30px;
}

.sections .fi .arrow , .sections .se .arrow, .sections .mid .arrow,
.sections .up .arrow , .sections .le .arrow,.sections .ri .arrow
{
    color: white;
    margin-left: 20px;
    transform: rotate(10deg);
    background-color: transparent;
    display: flex;
    margin-left: 250px;
    font-size: 40px;
    margin-top: -40px;
}
.sections .se{
    background-color: rgba(24, 37, 46, 0.87);
    width: 300px;
    height: 150px;
    margin-left: 150px ;
    margin-top: 25px;
    border-radius: 10px;
}
.sections .mid{
    width: 350px;
    height: 375px;
    border-radius: 15px;
    margin-left: 490px ;
    margin-top: -375px;
    background-image: url("/images/back.png");
}

.sections .mid .p{
    margin-top: 190px;
}
.sections .mid .arrow{
    margin-left: 300px;
}
.sections .up{
    background-color: rgba(24, 37, 46, 0.87);
    width: 550px;
    height: 200px;
    margin-left: 880px ;
    border-radius: 10px;
    margin-top: -375px;
}
.sections .up .p{
    margin-top: 40px;
}
.sections .up .arrow{
    margin-left: 450px;
}
/* ##################### */
.sections .le,.sections .ri{
    background-color: rgba(24, 37, 46, 0.87);
    width: 260px;
    height: 150px;
    margin-left: 880px ;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
}
.sections .le .f, .sections .ri .f{
    margin-bottom: -30px;
}
.sections .le .arrow,.sections .ri .arrow{
    margin-left: 200px;
}
.sections .ri{
    margin-left: 1170px;
    margin-top: -150px;
    margin-right: 0;
}
